<h1>This is the meetup</h1>
<ul>
  <li>Name: <%= @meetup.name %></li>
  <li>Event Date: <%= @meetup.event_date %></li>
  <li>Purpose: <%= @meetup.purpose %></li>
  <li>Location: <%= @meetup.location %></li>
  <% @meetup.id %><% @meetup.user_id %></li>
</ul>

<h2>Who's going?</h2>
<p>User_meetups</p>
<ul>
  <% @meetup.users.each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>

<% unless current_user_already_joined_meetup? %>
  <%= simple_form_for([@meetup, @user_meetup]) do |f| %>
    <p>Fancy joining this meetup?</p>
    <%= f.input :user_location, label: false, placeholder: 'Please add your location' %>
    <%= f.submit 'Join this Meetup' %>
  <% end %>
<% end %>

<% if current_user_already_joined_meetup? %>
  <% user_meetup = current_user.user_meetups.find_by(meetup: @meetup) %>
  <%= button_to "Leave this Meetup", meetup_user_meetup_path(@meetup, user_meetup), method: :delete, class: "btn btn-danger" %>
<% end %>
