<div class="container-show-main">
  <div class="col-sm-4">
    <div class="card-meetup-info">
      <div class="card-meetup-info-inner">
        <div class="card-meetup-info-inner-content">
          <h1>THIS IS THE MEETUP</h1>
            <div class="meetup-details">
              <p>Name: <%= @meetup.name %></p>
              <p>Event Date: <%= @meetup.event_date %></p>
            </div>
            <div class="midl-logo">
              <%= image_tag "marker_centre_point_home.png", class: "centre-point-marker-show" %>
              <h2 style="font-size: 88px;">midl</h2>
            </div>
              <p><%= @centre_address %></p>
              <%# <p>Location: <%= @meetup.location</p> %>
              <!-- icons -->
              <h4><div style="display:flex;justify-content: center;"><a class="btn btn-primary-view" style="margin: 20px" data-controller="copy-passcode" data-passcode="<%= @meetup.passcode %>" data-chatroom-path="<%= meetup_chatroom_path(@meetup) %>">Meetuplink: <%= @meetup.passcode %></a>
              <% @meetup.id %><% @meetup.user_id %></div></h4>
              <div class="d-flex justify-content-center text-center">
            <%= render "meetups/share_passcode" %>
          </div>
            <%# </ul> %>
            <%# <div class="container-edit-button">
              <% if current_user == @meetup.user %>
                <%# <%= link_to "Edit Meetup", edit_meetup_path(@meetup), class: "btn btn-primary meetup-info" %>
              <%# <% end %>
            <%# </div> %>
        </div>
      </div>
    </div>

    <div class="meetup-buttons">
      <% if @meetup.users.include?(current_user) %>
        <div class="meetup-buttons-joined">
          <% user_meetup = current_user.user_meetups.find_by(meetup: @meetup) %>
              <div class="d-flex justify-content-center text-center">
                <%= button_to "Leave Meetup", meetup_user_meetup_path(@meetup, user_meetup), method: :delete, class: "btn btn-info-joined" %>
              </div>
          <div class="d-flex justify-content-center text-center">
            <%= link_to "Chat", meetup_chatroom_path(@meetup), method: :post, class: "btn btn-success-joined" %>
          </div>
        </div>
      <% else %>
        <div class="meetup-buttons-to-join">
          <%# <p class="text-center">Fancy joining this meetup?</p> %>
          <%# <div class="justify-content-center text-center"> %>
          <%= button_to "Join Meetup", meetup_user_meetups_path(@meetup), class: "btn btn-primary-join" %>
        </div>
      <% end %>
      <%# <div class="actions"> %>
        <%# <% if @meetup.users.include?(current_user) %>
          <%# <div class="d-flex justify-content-center text-center"> %>
            <%# <%= link_to "Chat", meetup_chatroom_path(@meetup), method: :post, class: "btn btn-success" %>
          <%# </div> %>
        <%# <% end %>
      <%# </div> %>
    </div>



    <%# <br> %>
    <%# <div class="actions"> %>
      <%# <% if @meetup.users.include?(current_user) %>
        <%# <div class="d-flex justify-content-center text-center"> %>
          <%# <%= link_to "Chat", meetup_chatroom_path(@meetup), method: :post, class: "btn btn-success" %>
        <%# </div> %>
      <%# <% end %>
    <%# </div> %>
    <div class="meetup-ppl-going">
      <div class="meetup-ppl-going-inner">
        <h2>WHO'S GOING?</h2>
        <div class="meetup-ppl-going-members">
          <% @meetup.users.each do |user| %>
            <div class="meetup-ppl-going-members-avatar">
              <% image_filename = "#{user.username}.png" %>
                <% if File.exist?(Rails.root.join('app', 'assets', 'images', image_filename)) %>
                  <%= image_tag image_filename, alt: "Avatar", class: "avatar-large" %>
                <% else %>
                  <%= image_tag "MeetupLinkAvatar2.png", alt: "Default Avatar", class: "avatar-large" %>
                <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="card-trip-map">
      <div style="height: 664px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-centre-value="<%= @centre_point.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

  <%# <div class="col-sm-1"> %>
    <%# <div class="card-trip"> %>
      <%# <h3>Who's going?</h3> %>
      <%# <ul> %>
        <%# <% @meetup.users.each do |user| %>
          <%# <li> %>
            <%# <% image_filename = "#{user.username}.png" %>
            <%# <% if File.exist?(Rails.root.join('app', 'assets', 'images', image_filename)) %>
              <%# <%= image_tag image_filename, alt: "Avatar", class: "avatar-large" %>
            <%# <% else %>
              <%# <%= image_tag "MEETUP_8ee3775c-1795-4273-a768-9fb16f09dcac-1.png", alt: "Default Avatar", class: "avatar-large" %>
            <%# <% end %>
            <%# <br> <!-- Add a line break for spacing --> %>
          <%# </li> %>
        <%# <% end %>
      <%# </ul> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>

<div class="container-show-second">
  <div class="col-sm-12">
    <% if @meetup.users.include?(current_user) %>
      <div class="card-suggested-places">
        <div class="card-suggested-places-inner">
          <div class="confirm-suggested"><h1>SUGGESTED PLACES</h1>
            <ol>
              <% @suggested_places.each_with_index do |suggested_place, index| %>
                <div class="suggested-list">
                  <li>
                    <%= suggested_place %>
                  </li>
                  <%= link_to "Option #{index + 1}", confirmation_meetup_path(@meetup), method: :post, class: "btn btn-confirm" %>
                </div>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
