<div class="container">
  <div class="col-sm-3">
  <h1>This is the meetup</h1>
    <ul>
      <li>Name: <%= @meetup.name %></li>
      <li>Event Date: <%= @meetup.event_date %></li>
      <li>Purpose: <%= @meetup.purpose %></li>
      <li>Location: <%= @meetup.location %></li>
      <li>Passcode: <%= @meetup.passcode %> <a href="#" data-controller="copy-passcode" data-passcode="<%= @meetup.passcode %>" data-chatroom-path="<%= meetup_chatroom_path(@meetup) %>">Share</a></li>
      <% @meetup.id %><% @meetup.user_id %></li>
    </ul>
    <% if current_user == @meetup.user %>
      <%= link_to "Edit Meetup", edit_meetup_path(@meetup), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-sm-9">
    <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-centre-value="<%= @centre_point.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<div class="container">
  <h2>Who's going?</h2>
  <ul>
    <% @meetup.users.each do |user| %>
      <li>
        <% image_filename = "#{user.username}.png" %>
        <% if File.exist?(Rails.root.join('app', 'assets', 'images', image_filename)) %>
          <%= image_tag image_filename, alt: "Avatar", class: "avatar-large" %>
        <% else %>
          <%= image_tag "MEETUP_8ee3775c-1795-4273-a768-9fb16f09dcac-1.png", alt: "Default Avatar", class: "avatar-large" %>
        <% end %><%= user.username %>
        <br> <!-- Add a line break for spacing -->
      </li>
    <% end %>
  </ul>

  <%# For demo only, complete me! %>
  <% if @meetup.users.include?(current_user) %>
    <p>Suggested Places:</p>
    <ul>
      <% @global_restaurants.each do |restaurant| %>
        <li>
          <%= restaurant %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <% if @meetup.users.include?(current_user) %>
      <% user_meetup = current_user.user_meetups.find_by(meetup: @meetup) %>
      <%= button_to "Leave this Meetup", meetup_user_meetup_path(@meetup, user_meetup), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <p>Fancy joining this meetup?</p>
      <%= button_to "Join meetup", meetup_user_meetups_path(@meetup), class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="actions">
    <% if @meetup.users.include?(current_user) %>
      <%= link_to "Chat", meetup_chatroom_path(@meetup), method: :post, class: "btn btn-success" %>
    <% end %>
  </div>

  <% if @meetup.chatroom %>
    <h2>Chatroom Information:</h2>
    <p>Name: <%= @meetup.chatroom.name %></p>

    <h2>Messages:</h2>
    <ul>
      <% @meetup.chatroom.messages.each do |message| %>
        <li><%= message.content %> (Sent by: <%= message.user.username %>)</li>
      <% end %>
    </ul>

    <!-- Form to create a new message -->
    <%= form_for([@meetup, @meetup.chatroom, @meetup.chatroom.messages.new]) do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
    <% end %>
  <% else %>
    <p>No chatroom available for this meetup.</p>
  <% end %>
</div>
