<div class="container-show-main">
  <div class="col-sm-2">
    <div class="card-meetup-info">
      <%# <%= image_tag "meetup_logo.png" %>
        <div class="card-trip-infos">
          <h1>This is the meetup</h1>
            <ul>
              <li>Name: <%= @meetup.name %></li>
              <li>Event Date: <%= @meetup.event_date %></li>
              <li>Purpose: <%= @meetup.purpose %></li>
              <li>Location: <%= @meetup.location %></li>
              <li>Passcode: <%= @meetup.passcode %> <a href="#" data-controller="copy-passcode" data-passcode="<%= @meetup.passcode %>" data-chatroom-path="<%= meetup_chatroom_path(@meetup) %>">Share</a></li>
              <% @meetup.id %><% @meetup.user_id %></li>
            </ul>
            <% if current_user == @meetup.user %>
              <%= link_to "Edit Meetup", edit_meetup_path(@meetup), class: "btn btn-primary meetup-info" %>
            <% end %>
        </div>
      <br>
    </div>

    <div class="meetup-buttons">
      <% if @meetup.users.include?(current_user) %>
        <% user_meetup = current_user.user_meetups.find_by(meetup: @meetup) %>
            <div class="d-flex justify-content-center text-center">
              <%= button_to "Leave this Meetup", meetup_user_meetup_path(@meetup, user_meetup), method: :delete, class: "btn btn-info" %>
            </div>
      <% else %>
        <%# <p class="text-center">Fancy joining this meetup?</p> %>
          <div class="d-flex justify-content-center text-center">
            <%= button_to "Join meetup", meetup_user_meetups_path(@meetup), class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
    <br>
    <div class="actions">
      <% if @meetup.users.include?(current_user) %>
        <div class="d-flex justify-content-center text-center">
          <%= link_to "Chat", meetup_chatroom_path(@meetup), method: :post, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    <div class="card-trip">
      <h3>Who's going?</h3>
      <ul>
        <% @meetup.users.each do |user| %>
          <li>
            <% image_filename = "#{user.username}.png" %>
            <% if File.exist?(Rails.root.join('app', 'assets', 'images', image_filename)) %>
              <%= image_tag image_filename, alt: "Avatar", class: "avatar-large" %>
            <% else %>
              <%= image_tag "MEETUP_8ee3775c-1795-4273-a768-9fb16f09dcac-1.png", alt: "Default Avatar", class: "avatar-large" %>
            <% end %><%= user.username %>
            <br> <!-- Add a line break for spacing -->
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%# </div> %>

  <div class="col-sm-9">
    <div class="card-trip-map">
      <div style="height: 664px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-centre-value="<%= @centre_point.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

  <%# <div class="col-sm-1"> %>
    <%# <div class="card-trip"> %>
      <%# <h3>Who's going?</h3> %>
      <%# <ul> %>
        <%# <% @meetup.users.each do |user| %> %>
          <%# <li> %>
            <%# <% image_filename = "#{user.username}.png" %> %>
            <%# <% if File.exist?(Rails.root.join('app', 'assets', 'images', image_filename)) %> %>
              <%# <%= image_tag image_filename, alt: "Avatar", class: "avatar-large" %> %>
            <%# <% else %> %>
              <%# <%= image_tag "MEETUP_8ee3775c-1795-4273-a768-9fb16f09dcac-1.png", alt: "Default Avatar", class: "avatar-large" %> %>
            <%# <% end %>
            <%# <br> <!-- Add a line break for spacing --> %>
          <%# </li> %>
        <%# <% end %> %>
      <%# </ul> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>


  <%# For demo only, complete me! %>
<div class="container-show-second">
  <div class="col-sm-9">
    <div class="card-trip">
    <% if @meetup.users.include?(current_user) %>
      <p>Suggested Places:</p>
      <ol>
        <% @global_restaurants.each do |restaurant| %>
          <li>
            <%= restaurant %>
          </li>
        <% end %>
      </ol>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card-trip">
      <%= image_tag "chat_logo.png" %>
        <div class="card-trip-infos">
      <% if @meetup.chatroom %>
        <ul>
          <% recent_messages = @meetup.chatroom.messages.last(5).reverse %>
          <% recent_messages.each do |message| %>
            <li>
              <div class="messages" data-chatroom-subscription-target="messages">
                <%= render "messages/message", message: message %>
              </div>
            </li>
          <% end %>
        </ul>
        <!-- Form to create a new message -->
        <div class="message-form">
          <%= form_for([@meetup, @meetup.chatroom, @meetup.chatroom.messages.new]) do |f| %>
            <%= f.text_field :content, class: 'message-content', placeholder: 'Type your message here' %>
            <%= f.submit "Send", class: 'message-send-button' %>
          <% end %>
        </div>
      <% else %>
        <p>No chatroom available for this meetup.</p>
      <% end %>
    </div>
  </div>
</div>
