<div class="container">
  <h1>This is the meetup</h1>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <ul>
    <li>Name: <%= @meetup.name %></li>
    <li>Event Date: <%= @meetup.event_date %></li>
    <li>Purpose: <%= @meetup.purpose %></li>
    <li>Location: <%= @meetup.location %></li>
    <% @meetup.id %><% @meetup.user_id %></li>
  </ul>

  <h2>Who's going?</h2>
  <p>User_meetups</p>
  <ul>
    <% @meetup.users.each do |user| %>
      <li><%= user.username %></li>
    <% end %>
  </ul>

  <%= simple_form_for([@meetup, @user_meetup]) do |f| %>
    <p>Fancy joining this meetup?</p>
    <%= f.input :user_location, label: false, placeholder: 'Please add your location' %>
    <%= f.submit 'Join this Meetup' %>
  <% end %>
</div>
